/* Main Stylesheet */
/* by Jamie Powers Do */
/* November 2015 */


/* GLOBAL */

* {
  box-sizing: border-box;
  margin-top: 0px;
}


/* GLOBAL & FONT STYLING */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-size: 1rem;
}

p, a {
  font-size: 1rem;
}

.icon {
  font-size: 2rem;
}

/* HEADERS */

h1 {
  font-size: 2em;
  font-weight: 100;
  color: #000000;
  /*font-family: 'Open Sans Light', 'Segoe UI Light', sans-serif;*/
}

h2 {
  font-weight: 100;
}

h3 {
  font-weight: 100;
}

/* HYPERLINKS */

a:link {
  color: #33bbbb;
  text-decoration: none;
}

a:visited {
  color: #33bbbb;
  text-decoration: none;
}

a:active {
  color: #88dddd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* WEBSITE HEADER */

header {
  padding: 0rem;
}


/* NAVIGATION */

.menu ul {
  text-align: right;
  background-color: #ddf9f9;
  padding: .5rem 0rem .75rem 0rem;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: inline-block;
  padding: .25rem 1rem;
}

/* CONTENT */

article, aside {
  padding: .5rem 2rem .5rem 2rem;
}


/* FOOTER */

footer {
  border-top: 1px solid #cccccc;
  padding: 1rem 2rem .3rem 2rem;
}


/* REUSABLE */

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}


/* SPECIAL STYLING (local) */

nav a:link, a:visited, a:active {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

.divider {
  margin: 20px;
  border-bottom: 1px solid #cccccc;
}

.thumbnail img {
  /* Resize img tags in "thumbnail" class */
  width: 10%;
  height: 10%;
  background: rgba(255, 0, 0, 0.45);
  overflow: hidden;
}

.thumbnail img:hover{
  /*background-color: #0000ff;*/
  opacity: .5;
  filter: alpha(opacity=50); /* For IE8 and? earlier */
}

#portrait {
  width: 15%;
  height: 15%;
  float: right;
  margin: 0px 0px 15px 15px;
}






/* OFF CANVAS MENU */
